input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.form_style div{
  padding-top: 10px;
  /* background-color: whitesmoke; */
}