/* Style the content with a ">" symbol */
.serviceStyle li::before {
    content: ">";
    text-decoration-line: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 10px;
    padding-right: 10px;
}

/* Apply a hover effect to the content  */
.serviceStyle li:hover::before {
    color: aqua;
}

.serviceStyle p, .serviceStyle li {
    font-size: 0.9rem;
}

.serviceStyle li a {
    text-decoration: none;
    color: white;
}

.footer_css {
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;

}